.section_1{
    margin-top: 70px;
    background-image:url('../../images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    box-shadow: rgb(0 0 0 / 30%) 0px -10px 30px 0px inset;
    color: white;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 600px;
}
.section_2{
    overflow-x: hidden;
}
.section_2 .cards{
    background-color: white;
    box-shadow: rgb(17 32 69) 0px 6px 36px -20px;
    color: rgb(17, 32, 69);
    min-height: 350px;
    height: 100%;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    position: relative;
   
}
.section_2 .cards .icons{
    width: auto;
    height: 4em;
    margin-bottom: 1.5rem;
    
}
.section_2 .cards h4{
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.section_2 .cards p{
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
}
.section_2 .cards:hover{
    transform: translateY(-2px);
    box-shadow: rgb(17 32 69) 0px 14px 40px -20px;
}

/* section_3 */
.section_3{
    display: flex;
    background-image: url('../../images/results.jpg');
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    color: white ;
    position: relative;
  
}
.section_3 .section_title h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--white);
    position: relative;
    margin-bottom: 4rem;
}
.section_3 .section_title h1::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 450px;
    width: 100%;
    height: 2px; 
    border-bottom: 2px solid var(--white);
  
}

.section_3 .icons{
    height: 54px;
    width: 3em;
}
.section_3 h1{
   font-size: 70px;
}
.section_3 p{
    font-size: 24px;
}
/* section_4 */
.section_4{

}
.btnx{
    text-align: center;
}

/* section_5 */
.section_5{
    background-color: rgb(245, 245, 245);
    overflow-y: hidden;
}
.section_5 .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_5 .cards .circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_5 .cards .circle .icons{
    height: 34px;
    width: 3em;
    color: rgb(233, 157, 1);
}
.section_5 h4{
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}
.section_5 p{
    font-size: 18px;
    letter-spacing: 1.1px;
}
/* section_6 */
.section_6{
    display: flex;
    justify-content: center;
    background-image: url('../../images/review.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    color: white;
    position: relative;
}
.section_6 .section_title h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--white);
    position: relative;

}
.section_6 .section_title h1::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 320px;
    width: 100%;
    height: 2px; 
    border-bottom: 2px solid var(--white)
}
.jx h4{
    position: relative;
}
.jx h4::before{
    position: absolute;
    content: "";
    width: 300px;
    height: 2px;
    background-color: var(--white);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.section_6 .jx p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.1px;
    color: var(--white) !important;
}


@media (max-width:768px){
    .section_1 h1{
        font-size: 40px !important;
    }
    .section_title h1{
        font-size: 35px !important;
    }
    .section_title h1::after{
      max-width: 180px !important;
    }
    .section_6 .section_title h1{
        font-size: 25px !important;
    }
}

@media (min-width:0) and (max-width:576px){
    .section_1{
        min-height: 400px;
    }
    .section_1 h1{
        font-size: 25px !important;
    }
    .section_1 p{
        font-size: 18px;
    }
    .section_3 h1 {
        font-size: 40px;
    }
    .section_3 .icons {
        height: 44px;
        width: 2.5em;
    }
}